<h3>login</h3>

<form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
        <div>
            <p>{{ field.label }}: <br> {{ field }}</p>

            {% for error in field.errors %}
                <small style="color: red">{{ error }}</small>
            {% endfor %}
        </div>
    {% endfor %}

    <div>
        {% for error in form.non_field_errors %}
        <small style="color: red">{{ error }}</small>
    {% endfor %}
    </div>

    <button type="submit">Login</button>
</form>

<p>Don't have an account? <a href="{% url 'register' %}">Signup here</a></p>