<h3>Reset Forgotten Password</h3>

<form action="" method="POST">
    {% csrf_token %}
    {% for field in user_password_form %}
        <div>
            <p>{{ field.label }}: <br> {{ field }}</p>

            {% for error in field.errors %}
                <small style="color: red">{{ error }}</small>
            {% endfor %}
        </div>
    {% endfor %}

    {% for field in custom_data_form %}
        <div>
            <p>{{ field.label }}: <br> {{ field }}</p>

            {% for error in field.errors %}
                <small style="color: red">{{ error }}</small>
            {% endfor %}
        </div>
    {% endfor %}

    <button type="submit">Reset Password</button>
    {% for error in custom_data_form.non_field_errors %}
        <small style="color: red">{{ error }}</small>
    {% endfor %}
</form>

<p>Don't have an account? <a href="{% url 'register' %}">Signup here</a></p>