{%  load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    CSDS 444 Group 14
    </title>
    <link rel="icon" href="{% static 'website/images/icon.ico' %}">
    <link rel="stylesheet"  href="{%  static 'website/css/bootstrap.css' %}" type="text/css" media="screen"/>
    <link rel="stylesheet"  href="{%  static 'website/css/style.css' %}" type="text/css" media="screen"/>
    <script type="text/javascript" src="{%  static 'website/javascript/totop.js' %}">
    </script>
    <!--[if IE 7]>
    <style type="text/css" media="screen">
    #ttr_vmenu_items  li.ttr_vmenu_items_parent {margin-left:-16px;font-size:0px;}
    </style>
    <![endif]-->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="html5shiv.js">
    </script>
    <script type="text/javascript" src="respond.min.js">
    </script>
    <![endif]-->
</head>
<body class="Home">
<div id="page-container">
    <div id="content-wrap">
        <div class="totopshow">
            <a href="#" class="back-to-top"><img alt="Back to Top" src="{% static 'website/images/gototop0.png' %}"/></a>
        </div>
        <header id="ttr_header">
            <div class="innermenu"><nav id="ttr_menu" class="navbar-default navbar">
                <div id="ttr_menu_inner_in">
                    <div class="menuforeground">
                    </div>
                    <div class="ttr_menushape1">
                        <div class="html_content"><p style="margin:0em 0.36em 0em 0em;text-align:Center;line-height:0.695774647887324;"><br style="font-family:'Roboto','Impact';font-weight:700;font-size:0.143em;color:rgba(52,52,52,1);" /></p><p style="margin:0em 0.36em 0.36em 0em;text-align:Center;line-height:0.695774647887324;"><span style="font-family:'Roboto','Impact';font-weight:700;font-size:1.571em;color:rgba(52,52,52,1);">GROUP 14</span></p></div>
                    </div>
                    <div id="navigationmenu">
                        <div class="navbar-header">
                            <button id="nav-expander" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                <span class="sr-only"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="menu-center collapse navbar-collapse">
                            <ul class="ttr_menu_items nav navbar-nav navbar-right">
                                <li class="ttr_menu_items_parent dropdown active"><a href="{% url 'home' %}" class="ttr_menu_items_parent_link_active"><span class="menuchildicon"></span>Home</a>
                                    <hr class ="horiz_separator"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            </div>
        </header>
        <div class="html_content"><p style="margin:-35.0em 0em 0em 0em;text-align:Center;"><span style="font-family:'Ubuntu','Arial';font-size:3.25em;color:rgba(212,23,36,1);">Register</span></p></div>

        <form action="" method="POST">
            {% csrf_token %}

            {% for field in user_form %}
                <div>

                    {% if field.label == "Password" %}
                        <p style="margin:2em 10em 0em 10em;">{{ field.label }}: <br> {{ field }}</p>

                        {% for error in field.errors %}
                            <small style="margin:0em 0em 2em 8em;color: red">{{ error }}</small>
                        {% endfor %}

                        <p style="margin:0em 10em 2em 10em;"><b>password requirements:</b> at least 6 characters, 1 letter and 1 number.</p>
                    {% else %}
                        <p style="margin:2em 10em 2em 10em;">{{ field.label }}: <br> {{ field }}</p>

                        {% for error in field.errors %}
                            <small style="margin:0em 0em 2em 8em;color: red">{{ error }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}

            {% for field in challenge_questions_form %}
                <div>
                    <p style="margin:2em 10em 2em 10em;">{{ field.label }}: <br> {{ field }}</p>

                    {% for error in field.errors %}
                        <small style="margin:0em 0em 2em 8em;color: red">{{ error }}</small>
                    {% endfor %}
                </div>
            {% endfor %}
            <button style="margin:1em 10em 2em 10em;" type="submit">Register</button>
        </form>
    </div>

    <footer id="footer">
        <div class="ttr_footerHome_html_row0 row">
            <div class="post_column col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ttr_footerHome_html_column00">
                    <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                    <div class="html_content"><p style="margin:0em 0em 0.36em 0em;text-align:Center;"><br style="font-family:'Open Sans','Arial';font-size:1.786em;color:rgba(255,255,255,1);" /></p><p style="margin:0em 0em 0.36em 0em;text-align:Center;"><span style="font-family:'Roboto','Arial';font-size:1.786em;color:rgba(255,255,255,1);">User Authentication System</span></p></div>
                    <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                </div>
            </div>
            <div class="clearfix visible-lg-block visible-sm-block visible-md-block visible-xs-block"></div>
        </div>
        <div class="ttr_footer_bottom_footer">
            <div class="ttr_footer_bottom_footer_inner">
                <div id="ttr_footer_designed_by_links">
                    <a target="_self" >
                    CSDS 444 - Group 14:
                    </a>
                    <span id="ttr_footer_designed_by">
                    Oleksii Fedorenko, Nicholas Kernan, Ben Mucha, and Oliver Traben
                    </span>
                </div>
            </div>
        </div>
    </footer>
    <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-bottom-collapse: separate;"></div>
</div>
<script type="text/javascript">
    WebFontConfig = {
        google: { families: [ 'Roboto:700','Ubuntu','Ubuntu:700','Open+Sans','Roboto','Open+Sans:700','Roboto:500'] }
    };
    (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1.0.31/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
</script>
</body>
</html>